<!DOCTYPE html>
<html>
  <head>
    <title>InvoiceApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg bg-primary">
        <span class="navbar-text text-center">
          <h2>Invoice Import System</h2>
        </span>
      </nav>
        <%= yield %>
    </div>
  </body>
</html>
